.main-button:focus,
.main-button.focus,
.main-button:active,
.main-button.active,
.main-button:focus:active {
    border-color: #3a5a40 !important;
    box-shadow: 0 0 0 0.25rem rgb(88 129 87 / 20%) !important;
}
.second-button:focus,
.second-button.focus,
.second-button:active,
.second-button.active,
.second-button:focus:active {
    border-color: #a99985 !important;
    box-shadow: 0 0 0 0.25rem rgb(169 153 133 / 20%) !important;
}
.title-admin {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    padding: 0px !important;
  }
.table-section {
    padding: 20px 50px;
    margin: 0px !important;
}
.row-admin-form, .col-admin-form {
    padding: 0px !important;
    margin: 0px !important;
    text-align: left;
}
.row-admin-form {
    column-gap: 4%;
}
.col-admin-form {
    width: 48% !important;
}
.input-admin-form {
    padding: 10px !important;
    margin: 0px !important;
}
.admin-buttons {
    column-gap: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.action-admin-button {
    width: auto !important;
    padding: 10px 20px !important;
    margin-right: 30px !important;
    background-color: #3a5a40 !important;
    border-radius: 0px !important;
    cursor: pointer;
}

.close-admin-button {
    width: auto !important;
    padding: 10px 20px !important;
    background-color: #9c876e !important;
    border-radius: 0px !important;
    border-color: #a99985 !important;
    cursor: pointer;
}

.plus-icon {
    padding-right: 5px !important;
}

.row-admin {
    margin: 0 !important;
    padding: 0 0 30px 0 !important;
    row-gap: 25px;
}

.row-admin.add-button {
    justify-content: flex-end !important;
}

.initiate-add-button {
    background-color: transparent !important;
    color: #000000 !important;
    width: auto !important;
    font-size: 14px !important;
    padding: 10px;
}

.pencil-icon {
    padding-right: 10px;
}

.trash-icon,
.pencil-icon {
    font-size: 14px;
    color: #7f7f7f;
    cursor: pointer;
}

.close {
    background: white;
    border: 0px;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {
    opacity: 1;
}

.custom-select {
    display: inline-block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right .75rem center/8px 10px no-repeat;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.custom-select:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: .75rem;
    background-image: none
}

.custom-select:disabled {
    color: #6c757d;
    background-color: #e9ecef
}

.custom-select::-ms-expand {
    display: none
}

.custom-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057
}

.select-form:focus {
    border-color: #a3b18a !important;
    box-shadow: 0 0 0 0.25rem rgb(88 129 87 / 20%) !important;
}

.row-form {
    margin-bottom: 20px;
}

.label-form {
    text-align: left;
    padding-bottom: 5px !important;
    margin: 0;
    color: #000;
}

.mandatory-field {
    color: red;
}

.input-form {
    margin: 0 10px !important;
    padding: 10px !important;
    flex-shrink: initial !important;
}

.input-form:focus, .input-admin-form:focus  {
    border-color: #a3b18a !important;
    box-shadow: 0 0 0 0.25rem rgb(88 129 87 / 20%) !important;
}

.col-form.right {
    text-align: right;
}

.col-form.left {
    text-align: left;
}
.pencil-icon:hover {
    color: #3a5a40 !important;
}

.trash-icon:hover {
    color: #dc3545 !important;
}
.spinner {
    color: #3a5a40;
}
.spinner .position-absolute .position-absolute:nth-child(2) {
    top: 20% !important;
}
.edit-form-section, .add-form-section {
    margin: 0px !important;
    padding: 20px 50px !important;
}
.admin-pagination-table {
    justify-content: flex-end;
    margin: 0px !important;
    padding-right: 0px !important;
}
.admin-pagination-table .page-link {
    color: #000000 !important;
}
.admin-pagination-table .page-item.active .page-link {
    color: #FFFFFF !important;
}
.admin-pagination-table .page-item.active .page-link {
    background-color: #588157 !important;
    border-color: #3a5a40 !important;
}
.admin-pagination-table .page-link:focus {
    box-shadow: 0 0 0 0.25rem rgb(88 129 87 / 20%) !important;
}
.site-pagination-table {
    justify-content: flex-end;
    margin: 0px !important;
    padding: 0px !important;
}
.site-pagination-table .page-link {
    color: #000000 !important;
}
.site-pagination-table .page-item.active .page-link {
    color: #FFFFFF !important;
}
.site-pagination-table .page-item.active .page-link {
    background-color: #9c876e !important;
    border-color: #a5a5a5 !important;
}
.site-pagination-table .page-link:focus {
    box-shadow: 0 0 0 0.25rem rgb(169 153 133 / 20%) !important;
}
.vs__clear {
    display: flex;
    align-items: center !important;
    padding: 0px !important;
}
.vs__selected {
    margin-right: 0px !important;
    padding-right: 0px !important;
}
.vs__search {
    padding-left: 0px !important;
}

/* header */
.nav-main-header {
    top: 0;
    padding: 5px 30px !important;
    box-shadow: 2px 2px 5px rgb(40 40 40 / 15%);
}
.row-main-header {
    width: 100% !important;
    margin: 0 !important;
}
.row-main-header.logo {
   justify-content: center;
   padding: 35px;
}
.nav-header {
    padding: 0px !important;
}
.col-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}
.col-nav:first-child {
    width: 50%;
}
.col-nav:nth-child(2) {
    width: 50%;
    justify-content: flex-end;
}
.item-main-header a {
    color: #000000 !important;
    font-size: 16px !important;
}
.item-main-header .nav-link.active {
    color: #9c876e!important;
    font-size: 16px !important;
    font-style: italic;
    font-weight: 600;
}
.item-main-header a:hover {
    color: #9c876e!important;
    font-size: 16px !important;
    font-style: italic;
}
.item-main-header.link-item a {
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.item-main-header.link-item a:hover:after {
    visibility: visible !important;
    opacity: 1 !important;
    width: 100%;
}
.item-main-header.link-item a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0;
    height: 1px;
    background: #3a5a40;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.redirect-login {
    width: auto !important;
    margin: 0 auto;
    padding: 5px 20px !important;
    background-color: #3a5a40 !important;
    border-radius: 0px !important;
}
.redirect-register {
    width: auto !important;
    margin: 0 auto;
    padding: 5px 20px !important;
    background-color: #bd9a7a !important;
    border-color: #c3a995 !important;
    border-radius: 0px !important;
}
.logo-image {
    height: auto;
    width: 280px !important;
    padding: 0px !important;
}
.toggle-header {
    border-color: rgb(169 153 133 / 50%) !important;
    margin: 10px 20px 5px 20px !important;
}
.toggle-header, .toggle-header:hover, .toggle-header:focus {
   outline: none !important;
   box-shadow: none !important;
}
@media only screen and (max-width: 992px)  {
    .nav-main-header {
        padding: 5px 15px !important;
    }
    .nav-main-header {
        display: flex;
        flex-direction: column;
    }
    .nav-main-header .col-nav {
        width: 100%;
    }
}
@media only screen and (max-width: 540px)  {
    .item-main-header {
        width: 100% !important;
        text-align: left;
    }
    .col-nav:nth-child(2) {
        width: 50%;
        justify-content: flex-start;
    }
}